.zy-row {
  position: relative;
  box-sizing: border-box;
}

.zy-row:after,.zy-row:before {
  display: table;
  content: ""
}

.zy-row:after {
  clear: both
}

.zy-row--flex {
  display: flex
}

.zy-row--flex:after,.zy-row--flex:before {
  display: none
}

.zy-row--flex.is-justify-center {
  justify-content: center
}

.zy-row--flex.is-justify-end {
  justify-content: flex-end
}

.zy-row--flex.is-justify-space-between {
  justify-content: space-between
}

.zy-row--flex.is-justify-space-around {
  justify-content: space-around
}

.zy-row--flex.is-align-middle {
  align-items: center
}

.zy-row--flex.is-align-bottom {
  align-items: flex-end
}[class*=zy-col-] {
   float: left;
   box-sizing: border-box
 }
